/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, .header__top--details a, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}

li {
  display: inline-block;
  list-style-type: none;
}

span, .header__top--details a {
  display: inline-block;
}

input[type],
textarea {
  border: none;
  outline: none;
}

p {
  line-height: 2;
}

p::first-letter {
  text-transform: uppercase;
}

.card-title {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.section-heading {
  color: #000;
  font-size: 39px;
  font-weight: 600;
  text-align: center;
  word-spacing: 1px;
}
.section-heading::first-letter {
  text-transform: uppercase;
}
.section-heading span, .section-heading .header__top--details a, .header__top--details .section-heading a {
  display: inline;
}
.section-heading span:last-child, .section-heading .header__top--details a:last-child, .header__top--details .section-heading a:last-child {
  color: #A4C63A;
}

.section-sub-heading {
  margin: 6px 0 90px;
  color: #777;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.more-button input {
  padding: 11px 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 2px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.more-button input:hover {
  background-color: #fff;
  color: #A4C63A;
}

/*for wrapper*/
.wrapper {
  max-width: 1366px;
  width: 90%;
  margin: 0 auto;
}

.container {
  position: relative;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  text-transform: capitalize;
}
.header__top--wrapper {
  width: 100%;
  padding: 0 4.6%;
  background-color: #A4C63A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__top--details {
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__top--details li {
  border-right: 1px solid #F7F7F7;
}
.header__top--details li:first-child {
  border-left: 1px solid #F7F7F7;
}
.header__top--details span, .header__top--details a {
  padding: 14px 25px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.header__top--details a:hover {
  color: #777;
}
.header__top--details span::before,
.header__top--details a::before {
  margin-right: 12px;
  font-size: 19px;
  font-weight: 300;
}
.header__top--details span::before, .header__top--details a::before {
  content: "\f017";
  font-family: "fontAwesome";
  text-indent: 0;
}
.header__top--details a::before {
  content: "\f095";
  font-family: "fontAwesome";
  text-indent: 0;
}
.header__top--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__top--social li {
  border-right: 1px solid #F7F7F7;
}
.header__top--social li:first-child {
  border-left: 1px solid #F7F7F7;
}
.header__top--social a {
  width: 50px;
  padding: 12px 0;
  position: relative;
  color: #fff;
  font-size: 18px;
  text-indent: -99999px;
}
.header__top--social a:hover {
  color: #777;
}
.header__top--social li:nth-child(1) a::before {
  content: "\f09a";
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "fontAwesome";
  text-indent: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header__top--social li:nth-child(2) a::before {
  content: "\f099";
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "fontAwesome";
  text-indent: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header__top--social li:nth-child(3) a::before {
  content: "\f0e1";
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "fontAwesome";
  text-indent: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header__top--social li:nth-child(4) a::before {
  content: "\f1b4";
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "fontAwesome";
  text-indent: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header__bottom--wrapper {
  width: 100%;
  padding: 29px 3.85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__bottom--logo {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}
.header__bottom--hamburger {
  width: 30px;
  height: 30px;
  display: none;
  overflow: hidden;
  position: relative;
  z-index: 4;
  cursor: pointer;
}
.header__bottom--hamburger .bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #A4C63A;
  text-indent: -99999px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__bottom--hamburger .bar::before, .header__bottom--hamburger .bar::after {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  background-color: inherit;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header__bottom--hamburger .bar::before {
  top: -13px;
}
.header__bottom--hamburger .bar::after {
  top: 13px;
}
.header__bottom--hamburger:hover .bar {
  -webkit-transform: translateY(-50%) rotate(135deg);
  -ms-transform: translateY(-50%) rotate(135deg);
  transform: translateY(-50%) rotate(135deg);
}
.header__bottom--hamburger:hover .bar::before {
  display: none;
}
.header__bottom--hamburger:hover .bar::after {
  top: 0;
  -webkit-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  transform: rotate(-270deg);
}
.header__bottom--menu {
  margin-right: 39px;
  gap: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header__bottom--menu a {
  padding: 8px;
  border-bottom: 3px solid transparent;
  color: #fff;
  font-size: 17px;
}
.header__bottom--menu a[title="Our services"] {
  color: #A4C63A;
  border-color: #A4C63A;
}
.header__bottom--menu a:hover {
  color: #A4C63A;
  border-color: #A4C63A;
}

.banner__wrapper {
  width: 100%;
  min-height: 89.3vh;
  height: 89.3vh;
  position: relative;
}
.banner__figure {
  height: 100%;
}
.banner__figure img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.banner__content {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 62%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.banner__heading {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.banner__para {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  word-spacing: 2px;
}

.analysis__wrapper {
  width: 100%;
  padding: 153px 5% 136px;
  border-bottom: 1px solid #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.analysis__lists {
  gap: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 31.5%;
  flex-basis: 31.5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.analysis__lists li {
  padding: 34px 33px;
  background-color: #A4C63A;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.analysis__lists li > * {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.analysis__lists li:first-child > * {
  color: #fff;
}
.analysis__lists li:hover > * {
  color: #fff;
}
.analysis__lists--icon {
  width: 15px;
  height: 15px;
  position: relative;
  font-size: 20px;
  text-indent: -99999px;
}
.analysis__lists--icon::before {
  content: "\f105";
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "fontAwesome";
  text-indent: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 75%;
}
.analysis__desc {
  -ms-flex-preferred-size: 63%;
  flex-basis: 63%;
}
.analysis__desc li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.analysis__desc li:not(:first-child) {
  display: none;
}
.analysis__desc .card-title {
  margin: 29px 0 0;
}
.analysis__desc .section-para {
  margin: 17px 0;
  color: #777;
}

.callback__wrapper {
  padding: 145px 0 154px;
}
.callback__form {
  padding: 65px;
  border-radius: 5px;
  background-color: #A4C63A;
  gap: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.callback__form--top {
  gap: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.callback__form--top > * {
  -ms-flex-preferred-size: 32%;
  flex-basis: 32%;
}
.callback__form--group *, .callback__form--textarea * {
  width: 100%;
  padding: 15px 17px;
  border-radius: 25px;
  background-color: #fff;
}
.callback__form--group *::placeholder, .callback__form--textarea *::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-transform: capitalize;
}
.callback__form--textarea * {
  min-height: 130px;
  color: #777;
  resize: vertical;
}
.callback__form--control {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
